RewriteEngine On

# Redirecionar todas as requisições para api.php, exceto arquivos e pastas reais
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ api.php/$1 [QSA,L]

# Para o caso específico da raiz
RewriteRule ^$ api.php/ [L]